<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Dziękujemy za zamówienie</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-green-50 text-center py-20 text-primary">
  <h1 class="text-4xl  text-primary mb-4">Dziękujemy za zamówienie!</h1>
  <p class="text-lg">Twoje zamówienie zostało zapisane i niebawem się z Tobą skontaktujemy.</p>
  <a href="{% url 'home' %}" class="mt-8 inline-block text-primary hover:underline">← Wróć do strony głównej</a>
</body>
</html>
